.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: cursive;
  color: #747474;
  background: linear-gradient(
    135deg,
    #88ffd1, #53f8b9 33%,
    #84f8fc, #80f8de 33%,
    #79fff8, #84f8fc 66%,
    #fd7df3, #fc84ce 66%
  );
}





